<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="gateway" />

    <!--filter对象-->
    <bean id = "addDevInfoFilter" class = "gateway.filter.AddDevelopInfoFilter"/>
    <bean id = "addNameFilter" class = "gateway.filter.AddNameFilter"/>
    <bean id = "addVersionFilter" class = "gateway.filter.AddVersionFilter"/>

    <!--router对象-->
    <bean id = "weightRouter" class = "gateway.router.WeightRouter" scope="prototype"/>
    <bean id = "randomRouter" class = "gateway.router.RandomRouter" scope="prototype"/>

    <!--http客户端对象-->
    <bean id = "nettyHttpClient" class = "gateway.client.NettyHttpClientAsyncGet" scope="prototype"/>
    <bean id = "okHttpClient" class = "gateway.client.OkHttpClientAsyncGet" scope="prototype"/>

    <bean id = "outBoundHandler" class = "gateway.server.HttpOutboundHandler" scope="prototype">
        <property name="httpClient" ref = "okHttpClient"/>
        <property name="threadPool" ref = "threadPool"/>
    </bean>

    <bean id = "inBoundHandler" class = "gateway.server.HttpInboundHandler" scope="prototype">
        <property name="outboundHandler" ref = "outBoundHandler"/>
        <property name="filters">
            <list>
                <ref bean = "addDevInfoFilter"/>
                <ref bean = "addNameFilter"/>
                <ref bean = "addVersionFilter"/>
            </list>

        </property>
    </bean>

</beans>