<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" >

    <bean id="innerObj" class="com.javacamp.homework_week5.ioc_assemble.InnerImpl"/>

    <!--属性注入-->
    <bean id="outerObjSolution2" class="com.javacamp.homework_week5.ioc_assemble.Solution2.Outer">
        <constructor-arg name="inner" ref="innerObj"/>
    </bean>

</beans>