<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="constructor">

    <bean id="innerObj" class="com.javacamp.homework_week5.ioc_assemble.InnerImpl"/>
    <bean id="outerObjSolution4" class="com.javacamp.homework_week5.ioc_assemble.Solution4.Outer"/>
</beans>